.Tit {
    height: 124px;
    width: 1002px;
    padding-top: 12px;
}
.Tit .logol {
    width: 498px;
    float: left;
    margin-top: 5px;
    padding-top: 2px;
}
.donghua1{
    width: 500px;
    animation-name: flip-in-diagonal-bl;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
@keyframes flip-in-diagonal-bl {
  0%{
    -webkit-transform: rotate3d(1,1,0,80deg);
    transform: rotate3d(1,1,0,80deg);
    opacity: 0;
  }
  100%{
    -webkit-transform: rotate3d(1,1,0,0deg);
    transform: rotate3d(1,1,0,0deg);
    opacity: 1;
  }
}
#top {
    height: 150px;
    width: 1002px;
    margin-left: auto;
    margin-right: auto;
    /* background: url(../Background/学校背景图.jpg); */
    background-repeat: repeat;
    background-repeat: no-repeat;
}
.donghua11{
    width: 283px;
    animation-name: scale-up-center;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    }
    @keyframes scale-up-center {
    0%{
        -webkit-transform: scale(.2);
        transform: scale(.2);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.lishiyange{
    background-image: url(../Background/纯色背景图.jpg);
    width: 1002px;
    height: 100px;
    margin: 0 auto;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 10px;
    border: #cee6fd 1px solid;

}
.lishijieshao{
    font-size: 15px;
    font-family: 楷体;
}
.waidahezi{
    background-image: url(../Background/寺庙背景图.jpg);
    background-attachment: fixed;
    background-size: cover;
}
a{
    font-family: 楷体;
    font-size: 20px;
    color: rgb(14, 13, 13);
    text-decoration: none;
    border-bottom:0px;
}a:hover{
    color: red;
    transition: 0.6s;
}
